@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes whats-fadeIn {
    to {
        transform: scale(1);
    }

}

:root {
    --laranja: #ff9c00;
    --azul_escuro: #0B2936;
    --azul_claro: #a5cce8;
}

html,
body {
    padding: 0px;
    margin: 0px;
    background-color: #CFCCD6;
    color: #000000;
    overflow-x: hidden;
    font-family: 'Bebas Neue', cursive;
    scroll-behavior: smooth;
}

h1,
h2,
p {
    font-family: 'Poppins', sans-serif;
}

.whatsapp-cta {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    transform: scale(0);
    transform-origin: right;
    animation: whats-fadeIn 1200ms 1500ms forwards;
}

.whatsapp-cta>img {
    width: 75px;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 25px;
    background-color: #0B2936;
    -webkit-box-shadow: 0px 3px 5px 1px #000000;
    box-shadow: 0px 3px 5px 1px #000000;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

header>nav {
    display: flex;
    margin-right: 10px;
}

header>.lang-picker{
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.lang-picker>a{
    display: flex;
    align-items: center;
    width: 30px;
    margin: 0 5px;
}

.lang-picker>a>img{
    width: 100%;
    border-radius: 0;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-family: Poppins;
    border-bottom: 1px solid transparent;
    margin: 0 10px;
    transition: 350ms;
}

.nav-link:hover {
    border-bottom: 1px solid #fff;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-bottom: 45px;
    background-color: #637074;
    color: white;
    background-image: url(../img/bg.png);
    color: var(--laranja);
}

.hero>h1 {
    font-size: 40px;
}

.hero>h2 {
    text-align: center;
    width: 70%;
}

.hero > img {
    width: 20%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.habilidades,
.quem,
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 25px;
    padding-bottom: 60px;
}

.habilidades>h1,
.quem>h1,
.contato>h1 {
    color: var(--azul_escuro);
    font-weight: 700;
    font-size: 35px;
    margin: 40px 0px;
}

.habilidades>.container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
}

.habilidade-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    background-color: white;
    border-radius: 15px;
    /* border: solid 2px black; */
    padding: 10px 15px;
    transition: 350ms;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
}

.habilidade-card:hover {
    transform: translateY(-20px);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.5);
}

.habilidade-card>h2 {
    color: var(--azul_escuro);
}

.habilidade-card>img {
    height: 50px;
}

.progress-bar-container,
.time-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: var(--azul_escuro);
}

.progress-bar-wrapper {
    width: 80%;
    height: 7px;
    background-color: #555;
    border-radius: 10px;
}

.progress-bar {
    height: 100%;
    background-color: var(--laranja);
    border-radius: 10px;
}

.time-container>h2 {
    width: 80%;
    font-size: 15px;
}

.quem>.container,
.contato>.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.foto {
    width: 35%;
}

.foto>img {
    width: 100%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.texto {
    width: 45%;
}

.texto>h2 {
    text-align: justify;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    padding: 5px 10px;
    background: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: 350ms;
}

.social:hover {
    transform: translateY(-15px);
}

.social>i {
    font-size: 45px;
}

.social>h3 {
    font-size: 20px;
    margin: 0;
}

#linkedin {
    color: #0A66C2;
}

#instagram {
    color: #D84B76;
}

#github {
    color: #000;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: var(--azul_escuro);
    padding-bottom: 70px;
}

.portfolio>h1 {
    color: var(--laranja);
    font-weight: 700;
    font-size: 35px;
    margin: 40px 0px;
}

.portfolio>.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}

.portfolio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-align: center;
    border-radius: 15px;
    border: solid 2px black;
    overflow: hidden;
    margin: 15px 0px;
}

.portfolio-card:hover .portfolio-img {
    transform: scale(1.15);
}

.portfolio-img {
    transition: 450ms;
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    padding: 10px 15px;
    background-color: rgb(26, 26, 26);
    color: white;
}

footer>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.footer-contato {
    flex-direction: column;
}

.instagram {
    transition: 450ms;
}

.instagram:hover {
    transform: translateY(-15px);
}

.fa-square {
    color: #C1558B;
}

@media screen and (max-width:1400px) {
    .habilidade-card>img {
        /* height: 200px; */
    }

    footer {
        font-size: 12px;
    }
}

@media screen and (max-width:700px) {
    .whatsapp-cta>img {
        width: 50px;
    }

    header>nav {
        width: 100%;
        margin: 5px 0;
    }

    .nav-link {
        width: 30%;
        text-align: center;
    }

    header>.lang-picker{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 5px 0;
    }

    header>.lang-picker>a{
        width: 50px;
        margin: 0 10px;
    }

    .hero>h1 {
        font-size: 30px;
    }

    .hero img {
        width: 70%;
    }

    .habilidades>h1 {
        font-size: 27px;
        text-align: center;
    }

    .habilidades>.container {
        flex-direction: column;
        align-items: center;
    }

    .habilidade-card {
        width: 80%;
        margin-bottom: 10px;
    }

    .foto,
    .texto {
        width: 95%;
    }

    .social{
        width: 60%;
        margin: 10px 0;
    }

    .portfolio>h1 {
        font-size: 27px;
        text-align: center;
    }

    .portfolio>.container {
        justify-content: center;
    }

    .portfolio-card {
        width: 90%;
    }

    footer {
        flex-direction: column;
        padding: 0px;
    }

    footer div {
        text-align: center;
        width: 90%;
    }

    .instagram {
        font-size: 20px;
    }
}